/* FLEX TOOLS */

.d_flex {
    display: flex;
}

.just_c_center {
    justify-content: center;
}

.a_items_center {
    align-items: center;
}

.just_c_spc_btw {
    justify-content: space-between;
}

.just_c_spc_even {
    justify-content: space-evenly;
}

.flex_dir_col {
    flex-direction: column;
}

.flex_wrap {
    flex-wrap: wrap;
}


/* BODY EDIT */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR */

.nav_bar {
    height: 80px;
    padding: 0 30px 0 30px;
    background: linear-gradient(90deg, rgb(236, 188, 160) 0%, rgb(156, 63, 0) 50%, rgba(77, 0, 0, 0.904) 100%);
    color: white;
}

.nav_center a:link {
    color: white;
    padding: 14px 25px;
    text-decoration: none;
}

.nav_center a:visited {
    color: white;
    padding: 14px 25px;
    text-decoration: none;
}

.right_button {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 7px;
    background-color: #AA7F39;
    text-align: center;
    transition: 500ms linear
}

.right_button:hover {
    background-color: #aa9168;
    cursor: pointer;
}


/* ASIDE */

.aside {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(43, 43, 43, 0.8);
}

.aside-content {
    width: 30%;
    height: 100%;
    position: relative;
    margin-left: 70%;
    right: 0;
    background-color: #1d1d1d;
    color: rgb(136, 136, 136);
    text-align: center;
    animation-name: animateright;
    animation-duration: 0.4s
}

.about_me_aside {
    padding: 10px 30px;
}

.about_me_aside a:link {
    color: white;
    text-decoration: none;
}

.about_me_aside a:visited {
    color: white;
    text-decoration: none;
}

.about_me_aside img {
    border-radius: 50%;
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(112, 112, 112);
    text-decoration: none;
    cursor: pointer;
}


/* HEADER */

.coolBg {
    background: url("./assets/food.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    font-family: 'The Girl Next Door', cursive;
    color: snow;
}

.main_text {
    font-size: 100px;
}


/* MAIN */

.main {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding: 150px;
}

.main_about {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(255, 255, 255, 1) 100%);
    height: 70vh;
    padding: 100px;
    text-align: center;
}

.card {
    width: 280px;
    margin: 20px;
    padding: 5px;
    word-wrap: break-word;
    background: linear-gradient(90deg, rgb(236, 160, 160) 0%, rgb(156, 63, 0) 50%, rgba(77, 0, 0, 0.904) 100%);
    color: white;
    border-radius: 5px;
}

.card img {
    width: 280px;
    height: 186px;
    border-radius: 5px;
}

.card a {
    color: rgb(249, 246, 246);
}

.image-container {
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.photo {
    height: 50vh;
    width: 60vh;
    z-index: -1;
}

.banner {
    height: 300px;
    width: 300px;
    margin: 50px;
}


/* FOOTER */

.footer_main {
    background: linear-gradient(90deg, rgb(236, 160, 160) 0%, rgb(156, 63, 0) 50%, rgba(77, 0, 0, 0.904) 100%);
    padding: 30px;
    color: white;
}

.fab {
    font-size: 30px;
    transition: 500ms linear;
    color: white;
}

.fab:hover {
    color: rgb(107, 107, 107);
}

.bar {
    width: 80%;
    background-color: rgb(168, 168, 168);
    height: 1px;
    margin: 5px;
}

.copy {
    font-size: 15px;
}
